@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

</head>
<body>
    <main>
        <div class="intro">
            <h1>Find Your Furry Friend</h1>
            <p>Explore our adorable pets waiting for their forever homes.</p>
            <button class="btn btn-primary btn-block"> <a asp-controller="Pets" asp-action="Index">Adopt Now</a></button>
        </div>

    </main>
</body>
